<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mypetstore_back_management.persistence.LineItemMapper">
    <select id="getLineItem" parameterType="com.example.mypetstore_back_management.domain.Order" resultType="com.example.mypetstore_back_management.domain.LineItem">
        select
          itemid,
          quantity,
          unitprice
        from lineitem
        where orderid=#{orderid}
    </select>

</mapper>